body{margin: 0;padding: 0;font-family: serif;}
section{}
  
    .first{width: 500px;float: left;border: 1px solid red;}
    .last{width: 400px;float: right;border: 1px solid orange;}
    img{max-width: 100%;}
    #boss{width: 1170px;padding: 20px;border: 2px solid green;height: 400px;margin: auto;}
    .son1{width: 200px;float: left;}
    .son2{width: 200px;float: left;}
    .son3{width: 200px;;float: left;}
#boss2{display: inline-block}