body{margin: 0;padding: 0;font-family: serif;}
section.ist{;width: 1170px;}

#issacolor{color: rgb(231, 12, 165);}

  h1{color: rgb(226, 17, 51);}
    .first{width: 600px;float: left;}
    .last{width: 400px;float: right;}
    img{max-width: 100%;}
    #bos{width: 1170px;padding: 20px
      
        ;height: 400px;margin: auto;
        font-family: arial
        ;text-transform: capitalize;
        background-image: url('images/header-bg.png')
        ;animation-name: mymove;animation-duration: 3s;transition: all 3s;
    
    
    }

#boss{width: 1170px;padding: 20px
 
    ;height: 400px;margin: auto;
    font-family: arial
    ;text-transform: capitalize;
    background-image: url('images/biography-bg.png');animation-name: mymove;animation-duration: 3s;transition: all 3s;
   
}

#bosss{width: 1170px;padding: 20px
  
    ;height: 400px;margin: auto;
    font-family: arial
    ;text-transform: capitalize;
    background-image: url('images/latest-work-bg.png')
}


#bossss{width: 1170px;padding: 20px
   
    ;height: 400px;margin: auto;
    font-family: arial
    ;text-transform: capitalize;
    background-image: url('images/footer-bg.png')
}








    .son1{
        width: 330px;
        float: left;
        margin-right: 30px;
        /* border: 2px solid red; */
        margin-left: 30px;
        border-radius: 5px;
        box-shadow: 11px 2px 2px 0px black;
        }

    .son2{
        width: 330px;
        float: left;
        margin-right: 30px;
        /* border: 2px solid red; */
        margin-left: 24px;
        border-radius: 5px;
        box-shadow: 10px 2px 2px 0px black;
        }

    .son3{width: 330px;float: left;margin-right: 10px;border: -2px solid red;margin-left: 24px;border-radius: 5px;box-shadow: 10px 2px 2px 0px black;}
#boss2{display: inline-block;text-align: center;}
a{text-decoration: none;}
.button{padding: 7px 15px;border: 0px solid #8bf50f;
    background: linear-gradient(45deg, #182b03, #E91E63);
    border-radius: 5px;box-shadow: 0px 2px 5px 1px #262922;
    color: #CDDC39;}

.first1{width: 400px;float: left;}
.last1{width: 600px;float: right;}
.bassaboss{background: red;margin-left: 350px;
    margin-right: 350px;padding: 5px;
    margin-top: 63px;border-radius: 10px;
    color: white;}
footer:hover{color: white;background: black;}
footer{text-align: center;font-size: 20px;background: rgba(240, 11, 49, 0.178);}
a:hover{background: repeating-linear-gradient(red,black);color: #00fc7e;}
.son1 :hover{transform: scale(1.2);background: ;}
.son2 :hover{transform: scale(1.2);}
.son3 :hover{transform: scale(1.2);}
.bassaboss :hover{transform: scale(1.2);background:rgb(41, 39, 38);}
@keyframes mymove{from{transform:scale(0.1)};to{transform: scaleZ(1.2);}}